header {
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
	box-sizing: border-box;

	border-bottom: 1px solid $yellow-darker;

	#home {
		display: inline-block;

		a {
			font-size: 1.3rem;
			vertical-align: bottom;
			position: relative;
		}
		.home-icon {
			margin-left: 6px;
		}
	}

	.logo {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url("../img/ThayerShield_Black.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 5px;
		position: relative;
		top: 6px;
	}

	input[type=text] {
		width: 300px;
	}
}


.home-icon {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 10px;
	background: linear-gradient(to left, $yellow-darker, $yellow-darker 40%, transparent 40%, transparent 60%, $yellow-darker 60% );

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 7px;
		left: -2px;
		width: 0;
		height: 0;
	
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 12px solid $yellow-darker;
	}
}