form {
	input[type=text] {
		font-size: 1rem;
		border: 1px solid $gray-800;
		border-right: none;
		border-radius: 2px 0 0 2px;
	}	

	&.search {
		display: flex;

		button[type=submit] {
			font-size: 1em;
			border: 1px solid $gray-800;
			border-radius: 0 2px 2px 0;
			background: $gray-300;
		}
	}

}