header {
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
	box-sizing: border-box;

	border-bottom: 1px solid $yellow-darker;

	#home {
		display: inline-block;

		a {
			font-family: "National";
			font-size: 1.3rem;
			vertical-align: bottom;
			position: relative;
		}
		.home-icon {
			margin-left: 6px;
		}
	}

	.logo {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url("../img/ThayerShield_Black.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 5px;
		position: relative;
		top: 6px;
	}

	input[type=text] {
		width: 300px;
	}
}


#content-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 2000px;
	padding: 15px 30px;
	box-sizing: border-box;

	#main-content {
		flex-basis: 65%;
		flex-grow: 0;
		position: relative;
		padding-right: 40px;
	}

	#sidebar {
		flex-basis: 35%;
		flex-grow: 0;
		position: relative;

		p#quantity {
			font-weight: bold;
		}
	}

	section {
		margin-top: 20px;	

		> div {
			margin-top: 15px;
		}
	}
}








