body {
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: #2e2404; }

* {
  margin: 0;
  bottom: 0; }

html, body {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  background: #fff8c7;
  color: #2e2404; }

a {
  text-decoration: none;
  color: #2e2404; }

button {
  cursor: pointer; }

figure {
  position: relative;
  background-color: #fcec83;
  padding: 15px;
  border-radius: 2px; }
  figure img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 10px; }

.home-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 10px;
  background: linear-gradient(to left, #2e2404, #2e2404 40%, transparent 40%, transparent 60%, #2e2404 60%); }
  .home-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 7px;
    left: -2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #2e2404; }

form input[type=text] {
  font-size: 1rem;
  border: 1px solid #2e2404;
  border-right: none;
  border-radius: 2px 0 0 2px;
  background: #fff8c7; }

form.search {
  display: flex; }
  form.search button[type=submit] {
    font-size: 1em;
    border: 1px solid #2e2404;
    border-radius: 0 2px 2px 0;
    background: #f7be02; }

header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #2e2404; }
  header #home {
    display: inline-block; }
    header #home a {
      font-size: 1.3rem;
      vertical-align: bottom;
      position: relative; }
    header #home .home-icon {
      margin-left: 6px; }
  header .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/ThayerShield_Black.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
    position: relative;
    top: 6px; }
  header input[type=text] {
    width: 300px; }

#content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
  padding: 15px 30px;
  box-sizing: border-box; }
  #content-container #main-content {
    flex-basis: 65%;
    flex-grow: 0;
    position: relative;
    padding-right: 20px; }
  #content-container #sidebar {
    flex-basis: 35%;
    flex-grow: 0;
    position: relative; }
    #content-container #sidebar p#quantity {
      font-weight: bold; }
  #content-container section {
    margin-top: 20px; }
    #content-container section > div {
      margin-top: 15px; }
